# ROMs y binarios con copyright de Nintendo/Rare (NUNCA subir a GitHub)
*.n64
*.v64
*.z64
baserom.*
*.bin
*.rzip
*.elf
*.o
*.obj
*.exe

# Carpetas de compilacion y dependencias
build/
bin/
out/
_deps/
assets/
extracted/
.cache/

# Entorno de desarrollo Visual Studio & VS Code
__pycache__/
*.py[cod]
.vscode/
.vs/
*.user
*.suo
x64/
Debug/
Release/
CMakeFiles/
CMakeCache.txt
*.ninja

# Logs y volcados
*.log
*.dump
